.homeContainer {
    width: auto;
    margin: 0px 200px;
    margin-top: 50px;
    display: flex;

    .leftColumn {
        position: relative;
        z-index: 2;
        width: 45%;
        margin-right: 5%;
    }

    .rightColumn {
        width: 45%;
        margin-left: 5%;
    }
}

.homeLayer {
    position: absolute;
    z-index: 1;
    width: auto;
    height: 100%;
    margin-top: -50px;
    right: 0;
}
