:root {
    --background: #e6e6e6;
    --primaryColor: #3a6ceb;
    --secondaryColor: #7ce5ac;

    --bw100: #ffffff;

    --inputLabel: #666666;
    --inputTitleSize: 0.8rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Inter", sans-serif;
}

.boldTitle {
    color: var(--primaryColor);
    font-weight: 900;
    font-size: 3rem;
    margin: 0px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .boldTitle {
        font-size: 2rem;
    }
}
