.inputLabel {
    font-size: var(--inputTitleSize);
    color: var(--inputLabel);
    margin: 0;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-check {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;

    .inputLabel {
        margin: 0px;
        margin-top: 2px;
        padding: 0px;
        position: initial;
    }

    .form-check-input {
        background-color: var(--bw100);
        width: 15px;
        height: 15px;
    }
}

.input-group {
    margin-bottom: 10px;
}

.form-group {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.backButton {
    text-decoration: none;
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
        color: var(--inputLabel);
        font-size: var(--inputTitleSize);
    }

    p {
        color: var(--inputLabel);
        font-size: var(--inputTitleSize);
        margin: 0;
        margin-left: 10px;
        font-weight: 700;
    }
}

.registerButton {
    color: var(--inputLabel);
    font-size: var(--inputTitleSize);
    text-decoration: none;
    display: block;
    margin-left: 6px;
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;

    span {
        color: var(--primaryColor);
    }
}

.inputContainer {
    margin: 0px 0px;

    .inputBox {
        box-sizing: border-box;
        background-color: var(--bw100);
        width: 100%;
        padding: 4px;
        padding-right: 30px;
        display: grid;
        align-items: center;
        grid-template-columns: 30px auto;
        border-radius: 100px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 10rem;
        box-shadow: 1px 1px 2px #00000066;

        .inputIconBox {
            background-color: var(--primaryColor);
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;

            i {
                color: var(--bw100);
                font-size: 0.8rem;
            }
        }

        .textField {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            color: var(--inputLabel);
            background-color: transparent;
            width: 100%;
            height: 18px;
            border: none;
        }

        .textField:focus {
            outline: none;
        }
    }

    .errorText {
        margin: 0px;
        margin-top: 5px;
        margin-left: 6px;
        display: flex;
        align-items: center;

        i {
            margin: 0px;
            color: var(--errorTextColor);
            font-size: var(--inputTitleSize);
            font-weight: 500;
        }

        p {
            margin: 0px;
            margin-left: 5px;
            color: var(--errorTextColor);
            font-size: var(--inputTitleSize);
            font-weight: 500;
        }
    }
}

.input {
    box-sizing: border-box;
    background-color: var(--bw100);
    color: var(--inputLabel);
    width: 260px;
    height: 30px;
    padding: 0px 20px 0px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 30px auto;
    border: none;
    border-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10rem;
    box-shadow: 1px 1px 2px #00000066;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
}

.input:disabled {
    background-color: var(--background);
    border: 1px solid var(--bar);
    box-shadow: none;
}

.input:focus {
    outline: none;
}

.button {
    margin: 40px 0px;
    font-family: "Inter", sans-serif;
    min-width: 200px;
    background: var(--primaryColor);
    background: linear-gradient(
        90deg,
        var(--primaryColor) 0%,
        var(--secondaryColor) 100%
    );
    color: var(--bw100);
    font-weight: 500;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    padding: 8px 50px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #00000066;
}

@media screen and (max-width: 600px) {
    button {
        width: 100%;
    }
}
