<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard</title>
        <!-- Add Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <script
            src="https://kit.fontawesome.com/7fd798150d.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,900&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/core.css}" />
        <link rel="stylesheet" th:href="@{/css/inputs.css}" />
        <link rel="stylesheet" th:href="@{/css/containers.css}" />
        <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    </head>
    <body>
        <div class="defaultContainer">
            <header class="mainHeader">
                <div class="headerBg">
                    <div class="imgBox">
                        <img
                            th:src="@{/image/userDefault.png}"
                            alt="userDefault"
                            draggable="false"
                        />
                        <h3 th:text="${usuarioLogado.getNome}"></h3>
                        <p th:text="${usuarioLogado.getCargos().get(0).getNome()}"
                           th:if="${usuarioLogado.getCargos() != null && !usuarioLogado.getCargos().isEmpty()}"></p>
                    </div>
                </div>
                <nav class="defaultNav">
                    <a class="defaultNavItem active" th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <p>INÍCIO</p>
                    </a>
                    <a class="defaultNavItem">
                        <i class="fa-solid fa-user"></i>
                        <p>USUÁRIO</p>
                    </a>
                    <a class="defaultNavItem" th:href="@{/listar-projetos}">
                        <i class="fa-solid fa-layer-group"></i>
                        <p>PROJETOS</p>
                    </a>
                    <a class="defaultNavItem">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p>SAIR</p>
                    </a>
                </nav>
            </header>
            <main class="main">
                <div class="mainContainer">
                    <section>
                        <h2>Projetos Recomendados</h2>
                        <div class="row d-flex justify-content-around">
                            <div class="cardProjeto" th:each="projeto : ${projetosRec}">
                                <div class="projectImg">
                                    <img
                                            th:src="@{${projeto.imagemUrl}}"
                                            alt="projectImage"
                                            draggable="false"
                                    />
                                </div>
                                <div class="projectTitleBox">
                                    <h4 th:text="${projeto.nome}"></h4>
                                    <div class="buttonContent">
                                        <a class="btn btn-primary" th:href="@{/ver-projeto/{id}(id=${projeto.id})}">
                                            Ver Projeto
                                        </a>
                                        <button class="btn btn-light" th:attr="projeto-id=${projeto.id}"
                                                onclick="curtir(this)">
                                            <i
                                                    class="fa-regular fa-heart"
                                            ></i>
                                            Curtir
                                            <span class="badge badge-light" th:text="${projeto.numCurtidas}"></span>
                                        </button>
                                        <a class="btn btn-light" th:attr="projeto-id=${projeto.id}" onclick="favoritar(this)">
                                            <i
                                                    class="fa-regular fa-bookmark"
                                            ></i>
                                            Favoritar
                                            <span class="badge badge-light" th:text="${projeto.numFavoritos}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h2>Projetos em Destaque</h2>
                        <div class="row d-flex justify-content-around">
                            <div class="cardProjeto" th:each="projeto : ${projetosD}" th:if="${projeto.emDestaque}">
                                <div class="projectImg">
                                    <img
                                            th:src="@{${projeto.imagemUrl}}"
                                            alt="projectImage"
                                            draggable="false"
                                    />
                                </div>
                                <div class="projectTitleBox">
                                    <h4 th:text="${projeto.nome}"></h4>
                                    <div class="buttonContent">
                                        <a class="btn btn-primary" th:href="@{/ver-projeto/{id}(id=${projeto.id})}">
                                            Ver Projeto
                                        </a>
                                        <button class="btn btn-light" th:attr="projeto-id=${projeto.id}"
                                                onclick="curtir(this)">
                                            <i
                                                    class="fa-regular fa-heart"
                                            ></i>
                                            Curtir
                                            <span class="badge badge-light" th:text="${projeto.numCurtidas}"></span>
                                        </button>
                                        <a class="btn btn-light" th:attr="projeto-id=${projeto.id}" onclick="favoritar(this)">
                                            <i
                                                    class="fa-regular fa-bookmark"
                                            ></i>
                                            Favoritar
                                            <span class="badge badge-light" th:text="${projeto.numFavoritos}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h2>Projetos</h2>
                        <div class="row-1c-2c">
                            <h3>Filtro</h3>
                            <h3 th:text="'Projetos Encontrados (' + ${projetos.size()} + ')'"></h3>
                            <div>
                                <form action="" method="POST" th:object="${filtroDTO}">
                                    <div class="input-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="minCurtidasCheck"
                                                   id="minCurtidasCheck">
                                            <label class="form-check-label" for="minCurtidas">
                                                <h4 class="inputLabel">Mínimo de curtidas:</h4>
                                            </label>
                                        </div>
                                        <input class="input" type="number" name="minCurtidas" id="minCurtidas" th:field="*{minCurtidas}" disabled>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="minFavoritosCheck" id="minFavoritosCheck">
                                            <label class="form-check-label" for="minFavoritosCheck">
                                                <h4 class="inputLabel">Mínimo de Favoritos:</h4>
                                            </label>
                                        </div>
                                        <input class="input" type="number"  id="minFavoritos" name="minFavoritos" th:field="*{minFavoritos}" disabled>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="horasPorSemanaCheck" id="horasPorSemanaCheck">
                                            <label class="form-check-label" for="horasPorSemanaCheck">
                                                <h4 class="inputLabel">Horas por semana:</h4>
                                            </label>
                                        </div>
                                        <input class="input" type="number"  id="horasPorSemana" name="horasPorSemana" th:field="*{horasPorSemana}" disabled>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="diasPorSemanaCheck" id="diasPorSemanaCheck">
                                            <label class="form-check-label" for="diasPorSemanaCheck">
                                                <h4 class="inputLabel">Dias por semana:</h4>
                                            </label>
                                        </div>
                                        <input class="input" type="number"  id="diasPorSemana" name="diasPorSemana" th:field="*{diasPorSemana}" disabled>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input unchecked" type="checkbox"
                                               id="emDesenvolvimentoCheck" name="emDesenvolvimentoCheck" >
                                        <label class="form-check-label" for="emDesenvolvimentoCheck">
                                            <h4 class="inputLabel">Em desenvolvimento</h4>
                                        </label>
                                        <input hidden th:value="unchecked" th:field="*{emDesenvolvimento}">
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input unchecked" type="checkbox" id="procurandoVagasCheck">
                                        <label class="form-check-label" for="procurandoVagasCheck">
                                            <h4 class="inputLabel">Procurando Vagas</h4>
                                        </label>
                                        <input hidden th:value="unchecked" th:field="*{procurandoVagas}">
                                    </div>
                                    <div class="form-group">
                                        <label for="tecnologias"><h4 class="inputLabel">Tecnologias:</h4></label>
                                        <br>
                                        <select id="tecnologias" class="selectpicker" multiple title="Tecnologias"
                                                data-live-search="true" data-width="260px" th:field="*{tecnologiasEscolhidasId}">
                                            <option th:each="tecnologia : ${tecnologias}" th:value="${tecnologia.id}" th:text="${tecnologia.nome}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cargos"><h4 class="inputLabel">Cargos:</h4></label>
                                        <br>
                                        <select id="cargos" class="selectpicker" multiple title="Cargos"
                                                data-live-search="true" data-width="260px" th:field="*{cargosEscolhidosId}">
                                            <option th:each="cargo : ${cargos}" th:value="${cargo.id}" th:text="${cargo.nome}"></option>
                                        </select>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Filtrar</button>
                                </form>
                            </div>
                            <div class="row" >
                                <div class="cardProjeto" th:each="projeto : ${projetos}">
                                    <div class="projectImg">
                                        <img
                                            th:src="@{${projeto.imagemUrl}}"
                                            alt="projectImage"
                                            draggable="false"
                                        />

                                    </div>
                                    <div class="projectTitleBox">
                                        <h4 th:text="${projeto.nome}"></h4>
                                        <div class="buttonContent">
                                            <a class="btn btn-primary" th:href="@{/ver-projeto/{id}(id=${projeto.id})}">
                                                Ver Projeto
                                            </a>
                                            <button class="btn btn-light" th:attr="projeto-id=${projeto.id}"
                                                    onclick="curtir(this)">
                                                <i
                                                    class="fa-regular fa-heart"
                                                ></i>
                                                Curtir
                                                <span class="badge badge-light" th:text="${projeto.numCurtidas}"></span>
                                            </button>
                                            <a class="btn btn-light" th:attr="projeto-id=${projeto.id}" onclick="favoritar(this)">
                                                <i
                                                    class="fa-regular fa-bookmark"
                                                ></i>
                                                Favoritar
                                                <span class="badge badge-light" th:text="${projeto.numFavoritos}"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
        <script type="text/javascript">
            function curtir(botao) {
                var id = botao.getAttribute("projeto-id");
                fetch("/curtir/" + id, {method: "POST"})
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(data) {
                        if (data.numCurtidas == null) return;
                        botao.querySelector(".badge").textContent = data.numCurtidas;
                    });
            }

            function favoritar(botao) {
                var id = botao.getAttribute("projeto-id");
                fetch("/favoritar/" + id, {method: "POST"})
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(data) {
                        if (data.numFavoritos == null) return;
                        botao.querySelector(".badge").textContent = data.numFavoritos;
                    });
            }


            function desabilitarInput(checkQuery, inputQuery) {
                const checkbox = document.querySelector(checkQuery);
                const input = document.querySelector(inputQuery);

                checkbox.addEventListener('change', () => {
                    if (checkbox.checked) {
                        input.disabled = false;
                    } else {
                        input.disabled = true;
                    }
                });
            }

            // Handles indeterminate state
            function clickCheckbox(checkQuery, hiddenQuery) {
                const checkbox = document.querySelector(checkQuery);
                const hidden = document.querySelector(hiddenQuery);
                checkbox.addEventListener('click', () => {
                    if (checkbox.classList.contains('checked')) {
                        checkbox.classList.remove('checked');
                        checkbox.checked = false;
                        checkbox.indeterminate = true;
                        checkbox.classList.add('indeterminate');
                        checkbox.value = 'indeterminate';
                        hidden.value = 'indeterminate'
                    } else if (checkbox.classList.contains('indeterminate')) {
                        checkbox.classList.remove('indeterminate');
                        checkbox.indeterminate = false;
                        checkbox.checked = false;
                        checkbox.classList.add('unchecked');
                        checkbox.value = 'unchecked';
                        hidden.value = 'unchecked';
                    } else if (checkbox.classList.contains('unchecked')) {
                        checkbox.classList.remove('unchecked');
                        checkbox.checked = true;
                        checkbox.classList.add('checked');
                        checkbox.value = 'checked';
                        hidden.value = 'checked';
                    }

                })
            }

            function resetarInput(query) {
                const input = document.querySelector(query);
                input.value = 'unchecked';
            }

            desabilitarInput('#minCurtidasCheck', '#minCurtidas');
            desabilitarInput('#minFavoritosCheck', '#minFavoritos');
            desabilitarInput('#horasPorSemanaCheck', '#horasPorSemana');
            desabilitarInput('#diasPorSemanaCheck', '#diasPorSemana');

            clickCheckbox('#emDesenvolvimentoCheck', '#emDesenvolvimento');
            clickCheckbox('#procurandoVagasCheck', '#procurandoVagas');
            resetarInput('#emDesenvolvimento');
            resetarInput('#procurandoVagas');


        </script>
        <script defer th:src="@{https://use.fontawesome.com/releases/v5.0.6/js/all.js}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script th:src="@{/js/bootstrap-select.js}"></script>
        <script th:defer>$.fn.selectpicker.Constructor.BootstrapVersion = '4';</script>

    </body>
</html>