.inputLabel {
  font-size: var(--inputTitleSize);
  color: var(--inputLabel);
  margin: 0;
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.backButton {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.backButton i {
  color: var(--inputLabel);
  font-size: var(--inputTitleSize);
}

.backButton p {
  color: var(--inputLabel);
  font-size: var(--inputTitleSize);
  margin-left: 10px;
  font-weight: 700;
}

.registerButton {
  color: var(--inputLabel);
  font-size: var(--inputTitleSize);
  text-decoration: none;
  display: block;
  margin-left: 6px;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
}

.registerButton span {
  color: var(--primaryColor);
}

.inputContainer {
  margin: 20px 0px;
}

.inputContainer .inputBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--bw100);
  width: 100%;
  padding: 4px;
  padding-right: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  border-radius: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10rem;
  -webkit-box-shadow: 1px 1px 2px #00000066;
          box-shadow: 1px 1px 2px #00000066;
}

.inputContainer .inputBox .inputIconBox {
  background-color: var(--primaryColor);
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}

.inputContainer .inputBox .inputIconBox i {
  color: var(--bw100);
  font-size: 0.8rem;
}

.inputContainer .inputBox .textField {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--inputLabel);
  background-color: transparent;
  width: 100%;
  height: 18px;
  border: none;
}

.inputContainer .inputBox .textField:focus {
  outline: none;
}

.inputContainer .errorText {
  margin: 0px;
  margin-top: 5px;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputContainer .errorText i {
  margin: 0px;
  color: var(--errorTextColor);
  font-size: var(--inputTitleSize);
  font-weight: 500;
}

.inputContainer .errorText p {
  margin: 0px;
  margin-left: 5px;
  color: var(--errorTextColor);
  font-size: var(--inputTitleSize);
  font-weight: 500;
}

.button {
  margin: 40px 0px;
  font-family: "Inter", sans-serif;
  min-width: 200px;
  background: var(--primaryColor);
  background: -webkit-gradient(linear, left top, right top, from(var(--primaryColor)), to(var(--secondaryColor)));
  background: linear-gradient(90deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
  color: var(--bw100);
  font-weight: 500;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  padding: 8px 50px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px #00000066;
          box-shadow: 1px 1px 2px #00000066;
}

@media screen and (max-width: 600px) {
  button {
    width: 100%;
  }
}
/*# sourceMappingURL=inputs.css.map */